<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>UAT-PoqDemoApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>8.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(POQ_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.poq.poqdemoapp-uat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.poq.poqdemoapp-uat</string>
				<string>com.poq.poqdemoapp-uat.payments</string>
				<string>fb1472068206427874</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(POQ_BUILD_NUMBER)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>$(FABRIC_API_KEY)</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1472068206427874</string>
	<key>FacebookDisplayName</key>
	<string>PoqDemoApp</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to scan barcodes and search similar items.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts access is required to import contacts address details.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used for providing login credentials.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is used to find stores near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to find stores near you.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library access is required to save images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to select images.</string>
	<key>Poq_Api_URL</key>
	<string>https://poqapiuat.azure-api.net</string>
	<key>Poq_Api_Version</key>
	<string>12.2</string>
	<key>Poq_App_ID</key>
	<string>173</string>
	<key>Poq_App_URL_Scheme</key>
	<string>com.poq.poqdemoapp-uat://</string>
	<key>Poq_Countries_List</key>
	<array>
		<dict>
			<key>appId</key>
			<string>173</string>
			<key>facebookAppDisplayName</key>
			<string>PoqDemoApp</string>
			<key>facebookAppID</key>
			<string>1472068206427874</string>
			<key>isoCode</key>
			<string>GB</string>
		</dict>
		<dict>
			<key>appId</key>
			<string>185</string>
			<key>facebookAppDisplayName</key>
			<string>PoqDemoAppUS</string>
			<key>facebookAppID</key>
			<string>2087657381513837</string>
			<key>isoCode</key>
			<string>US</string>
		</dict>
	</array>
	<key>Poq_Is_Preview</key>
	<false/>
	<key>Poq_Payment_Providers</key>
	<dict>
		<key>applePay</key>
		<string>stripe</string>
		<key>card</key>
		<string>stripe</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Heebo-Bold.ttf</string>
		<string>Heebo-Light.ttf</string>
		<string>Heebo-Medium.ttf</string>
		<string>Heebo-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
