<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PoqAnalytics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>PoqCart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>PoqDemoApp-InHouseUAT-NotificationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>PoqDemoApp-InHouseUAT.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>PoqDemoApp-NotificationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>PoqDemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>PoqModuling.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>PoqNetworking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>PoqPlatform.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>PoqUrbanAirship.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>PoqUtilities.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BC9412598FC97E8A7BC5784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0645C763A4595812E59CC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F38D7052179D0D5F1D66274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1019B5436C222EBA5DC8D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67FC570818E376D3930E5C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA130EDD86670D069006D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>700E54B1695692C8919489CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E907D5FEE97D1A328DAFE68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9645607D0D391C8359AE069B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C66AF1B564F8334520936E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED21F6E548017F0DBF9FBD7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
